*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    max-width: 100vw;
}
.ham{
    z-index: 4;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 30px;
   right: 30px;
   border: solid rgba(158, 158, 158, 0.747) 2px;
   border-radius: 5px;
   padding:5px;  
   transition: all 0.5s ease-in-out; 
    height: 45px;
    opacity: 0;
}
.ham .ham_button{
    width: 35px;
    height: 2px;
   background: black;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
.ham .ham_button::after,
.ham .ham_button::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
   background: rgb(0, 0, 0);
   transition: all .5s ease-in-out;
}
.ham .ham_button::after{
    transform: translateY(12px);
}
.ham .ham_button::before{
    transform: translateY(-12px);
}
#ham_button{
    position: relative;
    padding: 30px;
}
html{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#navbar{
display: flex;
justify-content: space-between;
width: 100%;
position: static;
z-index: 3;
height: 90px;
background: rgb(233, 231, 231);
}
.logo{
    margin-top: 0px;
    margin-left: 30px;
    position: fixed;
    z-index: 4;
}

#navbar a{
    position: relative;
    z-index: 3;
}
.nav{
    align-items: baseline;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 3;
    opacity: 1;
}
.nav ul{
list-style-type: none;
z-index: 3;
}
.nav li{
    color: rgb(29, 29, 29) ;
    display: inline;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    z-index: 3;
}
.nav li:hover{
    background-color: grey;
}
#home{
background-image: url(2.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
z-index: 0;
}
.homepage{
z-index: 1;
max-width: 1200px;
margin-top: 80px;
align-self: center;
margin-left: 10px;
}
a{
    text-decoration: none;
    color:rgb(243, 243, 243);   
    font-weight: bold;
}
#home::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    z-index: -1;
}
#home h1{
    display: block;
    width: 100%;
    font-size: 4.5em;
    position:relative;
    letter-spacing: .1rem;
    color: rgb(245, 245, 245);
}
#home .cta{
display: inline-block;
border: 1px solid rgb(255, 255, 255);
background-color: rgba(160, 156, 156, 0.336);
text-transform: uppercase;
letter-spacing: .1rem;
transition: .3s ease;
font-size: 10px;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px 15px 10px 15px;

}
#home .cta:hover{
    color:rgb(41, 23, 5);
    font-weight: bold;
    background-color: rgba(253, 252, 252, 0.671);
}
#menu{
    background:url(3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    z-index: 0;
    }
#menu .menu{
    flex-direction: row;
    justify-content: center;
    align-content:center;
    font-size: 1em;
    align-self: center;
    display: flex;
    padding: 30px;
}
#menu .menuitem{
    background:rgb(255, 254, 253);
    text-align: center;
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    margin: 20px;
    z-index: 0;
    height: fit-content;
    width: fit-content;
    max-width: 100vw;
    /*min-height: 430px;
    min-width: 430px;*/
    font-size: 30px;
}
#menu h1{
    text-transform: uppercase;
    margin-bottom: 15px;
    z-index: 2;
    display: block;
}
#menu .menu li{
    padding: 5px;
    text-align: justify;
    z-index: 2;
}
#menu .menu ul{
    align-self: center;
    list-style-type: none;
    letter-spacing: 2px;
    line-height: 1em;
    padding: 5px;
}
#menu .menuitem::after{
content: '';
background-color: rgb(0, 0, 0);
left: 0px;
top: 0px;
height: 100%;
width: 100%;
position: absolute;
opacity: 0.6;
z-index: -1;
border-radius: 30px;
}
#menu::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;    
}
#about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 0;
    height: 100%;
    min-height: 100vh;
    max-width: 100vw;
    color: white;
    background: url(2.jpeg);
}  
#about h1{    background:url(1.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    position: relative;
    margin: 0px 5px 0px 5px;
    top: -20px;
    font-size: 60px;
    font-weight: 300;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border: 2px solid rgb(167, 165, 165);
    background-color: rgba(88, 88, 88, 0.267);
}
.about{
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 12px;
}
.about .row{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.about .service_item{
    background:url(8.jpg);
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    text-align: justify;
    position: relative;
    letter-spacing: .1em;
    line-height: 23px;
    z-index: 2;
    font-size: 15px;
    font-weight: 300;
    width: 370px;
    height: 200px;
}
.service_item h2{
    padding: 05px 0px;
    text-align: center;
    z-index: 1;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
}
.service_item::after{
    content: '';
    background-color: black;
    border-radius: 10px;
    opacity: .6;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
}
#footer{
    background: linear-gradient(145deg,rgb(119, 190, 185),rgb(201, 151, 59));/*(145deg,rgb(235, 235, 25),rgb(248, 13, 52),rgb(247, 9, 140));*/
    /*align-items: center;
    justify-content: center;*/
    display: flex;
    height: 60vh;
    z-index: 0;
    flex-direction: column;
    justify-content: space-between;
    }
    .social_media{
        position: relative;
        top: 20px;
        left: 40px;
        width: fit-content;
    }
    .social_media ul{
        list-style-type: none;
    }
    .social_media li{
        padding: 05px;
        position: relative;
        display: inline;
    }
    .social_media img{
        width: 45px;
        position: relative;
        background-color: white;
        border: solid rgb(255, 255, 255) 2px;
        border-radius: 50%;
    }
    .footer{
        display: flex;
        position: relative;
        margin: 10px;
        padding: 0px;
        
        justify-content: space-evenly;
        max-width: 700px;
    }
    .footer ul{
        list-style-type: none;
        position: relative;
    }
    .footer h3{
        text-transform: uppercase;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .footer li{
        text-transform: capitalize;
        margin-bottom: 4px;
        font-size: 15px;
    }
    .footer a{
        color: rgb(53, 52, 52);
        font-weight: 200;
    }
    .footnote {
        position: relative;
        display: flex;
        justify-content: center; 
        bottom: 35px;
    }
    #footer .footnote a{
        color: rgb(17, 17, 17);
        font-weight: 600;
        max-width: 100vw;
    }
/*==================MEDIA QUERRY============*/
@media screen and (max-width: 767px){
    .ham{
        opacity: 1;
    }
    .nav{
        opacity: 0;
    }
    .nav li{
        opacity: 0;
    }
    .logo{  
        position: fixed;
        z-index: 4;
    }
    .cta{
    font-size: larger;
    }
    #menu .menu{
        flex-direction: column;
        height: fit-content;  
    }
    #menu .menuitem{
        min-height: fit-content;
        min-width: fit-content;
        font-size: 2em;
        height: 470px;
        width: 470px;
        letter-spacing: 2px;
        margin: 30px;
        flex-direction: column;
    }
    hr{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .about{
        flex-direction: column;
        background-attachment: fixed;
    }
}